<div class="row mb-4">

    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h6>Total Students</h6>
                <h3>{{ total_students }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h6>Total Companies</h6>
                <h3>{{ total_companies }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h6>Total Drives</h6>
                <h3>{{ total_drives }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h6>Total Applications</h6>
                <h3>{{ total_applications }}</h3>
            </div>
        </div>
    </div>

</div>