<div class="row mb-4">

    <!-- Available Drives -->
    <div class="col-md-4">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Available Drives</h5>
                <h2 class="text-primary">
                    {{ available_drives_count }}
                </h2>
            </div>
        </div>
    </div>

    <!-- Applied Drives -->
    <div class="col-md-4">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Applied Drives</h5>
                <h2 class="text-warning">
                    {{ applied_drives_count }}
                </h2>
            </div>
        </div>
    </div>

    <!-- Selected -->
    <div class="col-md-4">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Selected</h5>
                <h2 class="text-success">
                    {{ selected_count }}
                </h2>
            </div>
        </div>
    </div>

</div>